doctype html
html(lang='ru')
  include ./head.pug
  body
    mixin ticketLabel(type)
      span(class != attributes.class || `ticket-card__label`) #{type === `BUY` ? `Куплю` : type === `SELL` ? `Продам` : `Не знаю`}
    include ./header.pug
    main.page-content
      block content
    include ./footer.pug
    script(src='/js/vendor.js')
    script(src='/js/main.js')
