if offer.comments.length
  .comments__block
    .comments__header
      a(href=`#` class=`announce-card`)
        h2.announce-card__title= offer.title
        span.announce-card__info
          span.announce-card__price= `₽ ${offer.price}`
          span.announce-card__type= `${offer.type === `buy` ? `Куплю` : offer.type === `sell` ? `Продам` : `Не знаю` }`
    ul.comments-list
      each comment in offer.comments
        include ../common/comments-item
