form(class=`search ${isError ? 'search search--small' : ``}` method=`get` action=`/search` autocomplete=`off`)
  input(type=`search` name=`query` placeholder=`Поиск` aria-label=`Поиск`)
  .search__icon
  .search__close-btn
