form(class=`search ${isError ? 'search search--small' : ``}` method=`get` action=`#` autocomplete=`off`)
  input(type=`search` name=`search` placeholder=`Поиск` aria-label=`Поиск`)
  .search__icon
  .search__close-btn
