extends ../layout/layout.pug

block content
  section.login
    form(class=`login__form form` action=`#` method=`post` enctype=`multipart/form-data`)
      .login__title
        a(class=`login__link` href=`/register`) Регистрация
        h2 Вход
        each val in loginFormInputs
          include ../common/form-input
        button(class=`login__button btn btn--medium js-button` type=`submit` disabled=``) Войти
